<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/login.css">
    <title>Kereső</title>
</head>

<body>
    <div class="main-login">
        <div class="left-login">
            <h1>Bejelnetkezés <br> Adja meg a felhasználónevet és jelszót a bejelentkezéshez.</h1>
            <img src="login.svg" class="left-login-image" alt="Bejelentkező animáció">
        </div>
        <div class="right-login">
            <div class="card-login">
                <h1>Bejelentkezés</h1>
                <div class="textfield">
                    <label for="username">Felhasználónév</label>
                    <input type="text" id="username" name="username" placeholder="Felhasználónév" autocomplete="no"><br>
                </div>
                <div class="textfield">
                    <label for="password">Jelszó</label>
                    <input type="password" id="password" name="password" placeholder="Jelszó" autocomplete="no"><br>
                </div>
                <input type="submit" value="Bejelentkezés">
            </div>
        </div>
    </div>
</body>
</html>