/*BODY*/
body[data-theme="light"]{
    --color-1: #FBF8F1; /*backgorund, search-input*/ 
    --color-2: #e0dad0; /*search-box, */
    --color-3: #54BAB9; /*search-btn, table header, border-top, border-bottom*/
    --color-4: white;
    --color-5: rgb(49, 49, 49); 
    --color-6: #dddddd; /*table inner border*/
    --color-7: #F7ECDE; /*even table row, */
    --color-8: #333333;
}

body[data-theme="dark"]{
    --color-1: #0e0e0e; /*backgorund, search-input*/ 
    --color-2: #423F3E; /*search-box, */
    --color-3: #2B2B2B; /*search-btn, table header, border-top, border-bottom*/
    --color-4: white;
    --color-5: rgb(150, 150, 150); 
    --color-6: #2B2B2B; /*table inner border*/
    --color-7: #0f0f0f; /*even table row, */
    --color-8: rgb(92, 255, 233);
}

body{
    background: var(--color-1);
    transition: all 350ms linear;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*SÖTÉT VILÁGOS MÓD KAPCSOLÓ*/
.theme-switcher{
    position: absolute;
    right: 10px;
    top: 5px;
}

.checkbox{
    width: 0;
    height: 0;
    visibility: hidden;
}

.label{
    cursor: pointer;
    height: 30px;
    width: 60px;
    background-color: rgb(255, 255, 255);
    border: 0.1px solid var(--color-5);
    border-radius: 50px;
    text-indent: -9999px;
}

.label::after{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #252130;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: .5s ease;
}

input:checked + label{
    background-color: var(--color-5);
}

input:checked + label::after{
    left: calc(100% - 25px);
}

/*KERESŐ*/
.wrapper{
    padding: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.search_box input[class="input_search"]{
    width: 800px;
    border: none;
    background-color: var(--color-3);
    color: white;
    border-radius: 20px;;
    padding: 10px;
}
::placeholder{
    color: white;
}

.search_box input[class="input_search"]:focus{
    outline: none;
}

.search_box .search_btn{
    background-color: var(--color-3);
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    color: white;
}

/*TÁBLÁZAT*/
table {
    border-radius: 15px 15px 0 0;   
}

.content-table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    overflow: hidden;
    font-size: 0.9em;
    width: 100%;
}

.th_1{
    background-color: var(--color-3);
    color: white;
    
}

.content-table th, .content-table td{
    padding: 5px 10px;
    border-radius: 15px 15 px 0 0;
}

.view{
    vertical-align: center;
    text-align: center;
    width: 30px;
    height: 30px;
    color: var(--color-3);   
}

.view_icon{
    vertical-align: center;
    text-align: center;
    font-size: x-large;
    color: var(--color-5);  
    background-color: var(--color-3);
    border-radius: 7px;
}

.content-table tbody tr{
    border-bottom: 1px solid var(--color-6);
}

.content-table tbody tr:nth-of-type(even){
    background-color: var(--color-7);
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid var(--color-3);
}

.content-table tbody tr:first-of-type{
    border-top: 2px solid var(--color-3);
}

a:link{
    color: var(--color-8);
}